font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

.navbar 
{
	opacity: 0.8;
	border-bottom: 1px solid #fff;
}

.nav-item:hover {
	color: blue;
}

.jumbotron 
{
	padding-top: 100px;
}

.fa-ellipsis-v
{
	color: #fff;
}

.container.a
{
	color: #fff;
}

main
{
	font-family: 'Open Sans', sans-serif;
}

main img
{
	width: 100%;
	height: auto;	
}

main p i
{
	font-size: 0.8rem;
}

.card img 
{
	height: 30rem;
	width: auto;
}

.ankara-jumbotron
{
	background-image: url(img/kizilay.jpg);
	background-size: cover;
	background-position: 50% 30%;
}

.mirasimiz-jumbotron
{
	background-image: url(img/anitkabir.jpg);
	background-size: cover;
	background-position: 50% 40%;
}

.atakule-jumbotron
{
	background-image: url(img/atakule2.jpg);
	background-size: cover;
	background-position: 10% 70%;
}

.göksuparkı-jumbotron
{
	background-image: url(img/göksuparkı.jpg);
	background-size: cover;
	background-position: 10% 70%;
}

.kocatepe-jumbotron
{
	background-image: url(img/KocatepeMosque.jpg);
	background-size: cover;
	background-position: 10% 70%;
}